<!doctype html>

<html>

  <head>

  </head>

  <body>
    <div class="week">
      {{week}}
    </div>
    <div class="content">
      {{#foreach day in days}}
        <div class="day">

        </div>
      {{/foreach}}
    </div>
  </body>

</html>
