<!doctype html>

<html>

  <head>
    <link rel="stylesheet" href="css/notes.css">
  </head>

  <body>
    <div class="content">
      <div class="week">
        {{#each days}}
          <div class="day">
            <div class="name">{{name}}</div>
            <span class="info">{{info}}</span>

            {{#times 8}}
              <div class="line"></div>
            {{/times}}
          </div>
        {{/each}}
      </div>
      <div class="heading">Notes</div>
      {{#times 10}}
        <div class="line"></div>
      {{/times}}
      <!-- Signatures ? -->
    </div>
  </body>

</html>
