<!doctype html>

<html>

  <head>
    <link rel="stylesheet" href="css/notes.css">
  </head>

  <body>
    <div class="content">
      <div class="heading">Notes for fun drawings</div>
      {{#times 34}}
        <div class="line"></div>
      {{/times}}
      <!-- Signatures ? -->
    </div>
  </body>

</html>
